<div
  class="course-list-item"
  [ngClass]="{'top-rated': courseInfo.isTopRated}"
  [appCourseStatus]="courseInfo.date">
  <div class="course-list-item-header">
    <h3><span *ngIf="courseInfo.isTopRated" style="margin-right: 5px">☆</span>{{courseInfo.name | uppercase}}</h3>
    <div class="course-duration">
      <div>
        {{courseInfo.length | duration}}
      </div>
      <div>
        {{courseInfo.date | date: 'medium' | slice: 0:6}}
      </div>
    </div>
  </div>
  <div class="course-main-info">
    <p>{{courseInfo.description}}</p>
    <p *ngIf="!courseInfo.description">
      No description. Feel free to add this course.
    </p>
    <div class="course-main-actions">
      <button [routerLink]="['./', courseInfo.id]" class="action-button">Edit</button>
      <button (click)="deleteCourse(courseInfo.id)" class="action-button delete-button">Delete</button>
    </div>
  </div>
</div>
