/* You can add global styles to this file, and also import other style files */
.link-button {
  background: none;
  color: white;
  border: 1px solid white;
  &:hover {
    color: cadetblue;
    cursor: pointer;
    border: 1px solid cadetblue;
  }
}
